@import './util';
@import './loading-indicator';
@import './alert';
@import './bg';

html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
  margin-bottom: unset !important;
  text-align: center;
}
